version: "3.9"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:6.2.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ALLOW_ANONYMOUS_LOGIN: "yes"
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:6.2.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      ALLOW_PLAINTEXT_LISTENER: "yes"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

  redis:
    image: redis:6.2
    container_name: redis
    ports:
      - "6379:6379"

  postgres:
    image: postgres:16
    container_name: order-status-postgres
    restart: always
    environment:
      POSTGRES_USER: orders
      POSTGRES_PASSWORD: neworders
      POSTGRES_DB: orders_db
    ports:
      - "5433:5432"  # optional for host access
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: order-platform-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: sthomas3@korewireless.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8089:80"
    depends_on:
      - postgres

volumes:
  postgres_data:
